/**
 * These styles are applied to
 * '/home' and it's child routes
 */

// Destination Search Form
.journeyDestSearch {
  .dname {
    font-size: 1.75em;
  }
  .modal-footer hr {
    border-width: none;
    border-top: 0;
    border-color: #fbd163;
  }
}

.form-inline .center #destSearch {
  width: 100%;
}

.form-group {
  font-size: 1.25em;
  select {
    height: 45px;
    text-align: center;
    margin: 2px 0;
  }
}

button {
  height: 45px;
  text-align: center;
  margin: 2px 0;
}

input#exampleInputPassword3 {
  width: 350px;
  height: 45px;
  text-align: right;
  margin: 5px 0;
}

// Sign-up Form
.signup-form {
  input[type="radio"] {
    margin: 5px !important;
    vertical-align: top !important;
  }
}

/* Media Queries */
@media only screen and (max-width: 900px) {
    // Navigation
    .navbar {
      border-radius: 0;

      .navbar-toggle {
        padding: 30px;
      }
    }

    // Journey Type Buttons
    #destSearchBtn {
      margin: 2.5% auto;
      padding: 25px;
      width: 33.3333333333%;
    }

    #destButtons {
      button {
        margin: 2px / 597.594px * 100%;
        width: 195.198px / 597.594px * 100%;
      }
    }
  }
