// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/**
 * These styles are applied to every page
 */

// Variables
$muted-blue: #9dddf9;
$light-blue: #85d5f8;
$blue: #2291c8;
$dark-blue: #2268aa;
$orange: #ee6730;
$dark-brown: #3a2417;

// Structure
body {
  background: $muted-blue url('/assets/images/Laces.png') repeat left top;
  background-attachment: fixed;
}

.master {
  .container {
    width: 80%;

    * {
      box-shadow: none;
    }
  }
}

// Homeless Stuff
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p.lead.center {
  width: 78%;
}

.tooltip {
  font-weight: 500;
}

img {
  &.crest {
    width: 30%;
    display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  &#chrome {
    width: 2%;
  }
}

// Navigation
.nav a {
  cursor: pointer;
}

.aboutModalButton {
  margin-top: 8px;
  background-color: $dark-brown;
  color: white;
  a {
    color: white;

    &:hover {
      color: $orange;
    }
  }
}

.navbar {
  font-weight: 700;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

li #likesHeart {
  color: #ffc233 !important;
  font-size: 2em;
  padding: 6px;
}

.wordmark {
  display: inline-block;
  height: inherit;
  margin: 5px 10px;
  position: relative;
  top: 7.5px;
  width: 350px;
  img {
    width: 100%;
  }
}

.dropdown-menu {
  border: none;
  li a {
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 10px;

    &:hover {
      background-color: $orange;
      width: 100%;
      height: 40px;
      padding: 10px;
      color: white;
    }
  }
}

li #facebook-signup a {
  text-align: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: $dark-blue;
  &:hover {
    background-color: $dark-blue;
    color: white;
  }
}

div#destButtons {
  max-width: 90%;
  a {
    display: block;
    padding: 0;
    color: $muted-blue;
    font-size: .75em;
    &:hover {
      color: white;
    }
  }
}

.prob {
  text-align: center;
}

#signinModal {
  input {
    text-align: center;

    &[type="submit"] {
      font-size: 1.25em;
    }
  }
}

#signupModal {
  .gender-choice {
    margin: 15px 0;

    label {
      margin-right: 17.5px;
      margin-left: 5px;
    }

    input {
      vertical-align: top;
    }
  }

  input[type="file"] {
    line-height: 0;
  }
}

.btn-group {
  .btn {
    &:first-child:not(:last-child):not(.dropdown-toggle) {
      border-radius: 25px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child:not(:first-child) {
      border-radius: 25px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  button {
    margin: 2px 5px;
  }
}

// Forms
label {
  cursor: pointer;
}

// Modals
.pp_title,
.jd_title,
.a_title {
  font-weight: 300;
  font-size: 2.5em;
  text-align: left;
  line-height: 1.125em;
  color: $orange;
}

.close {
  float: right;
  font-size: 22.5px;
  font-weight: 700;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: .2;
  filter: alpha(opacity = 20);
  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity = 50);
  }

  font-size: 2.5em;
  opacity: 1;
  padding: 3.5% !important;
  margin-top: 0 !important;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: $muted-blue;
  &.fade {
    opacity: 0;
    filter: alpha(opacity = 0);
  }
  &.in {
    opacity: .875;
    filter: alpha(opacity = 50);
  }
}

.modal-header {
  padding: 0 15px 0 35px;

  h4 {
    line-height: 225%;
    width: 75%;
  }
}

// Passport Profile
#destModal {
  .modal-header {
    padding: 15px;
    text-indent: 35px;

    .jd_title {
      line-height: normal;
    }

    .close {
      padding: 0 15px !important;
    }
  }

  .modal-body {
    padding: 35px;

    .jp_divider:last-of-type {
      display: none;
    }
  }

  img {
    margin: 5%;
    width: 90%;
  }
}

// Footer
#footer {
  background-color: $dark-brown;
  color: #53b7e8;
  font-size: .8125em;
  height: inherit !important;
  margin-top: 20px;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 0 !important;
  width: 100%;

  a {
    color: $blue;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }
}

#tcDownloads {
  text-align: center;

  a {
    display: inline-block;
    width: 100%;
  }
}

img.journeyKitDownload {
  width: 25%; // 365px;
  display: inline-block;
}

div#socialBadges {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px / 100% * 100%; // 40px;
}

img.socialBadges {
  width: 55px / 100% * 100%; // 55px;
  margin: .375%; // 5px
  display: inline-block;
}

// Hover
/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  &:before {
    content: "\f067";
    font-family: FontAwesome;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  &:hover:before,
  &:focus:before,
  &:active:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  &:hover,
  &:focus,
  &:active {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  &:hover,
  &:focus,
  &:active {
    -webkit-transform: scale(1.15) rotate(4deg);
    transform: scale(1.15) rotate(4deg);
  }
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  &:hover,
  &:focus,
  &:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  &:hover,
  &:focus,
  &:active {
    -webkit-animation-name: hvr-bob-float,hvr-bob;
    animation-name: hvr-bob-float,hvr-bob;
    -webkit-animation-duration: .3s,1.5s;
    animation-duration: .3s,1.5s;
    -webkit-animation-delay: 0s,.3s;
    animation-delay: 0s,.3s;
    -webkit-animation-timing-function: ease-out,ease-in-out;
    animation-timing-function: ease-out,ease-in-out;
    -webkit-animation-iteration-count: 1,infinite;
    animation-iteration-count: 1,infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal,alternate;
    animation-direction: normal,alternate;
  }
}

// Media Queries
@media only screen and (max-width: 700px) {
  span.glyphicon.glyphicon-plus {
    margin-bottom: 5px;
    margin-left: 15px;
  }
  // Navbar

  button.journeyModalButton {
    min-height: 75px;
    width: 75px !important;
    border-radius: 50px;
    font-size: 3em;
  }
  div.center.welcome {
    width: 300px;
    p {
      width: 105%;
      font-size: 1.5em;
    }
  }
  img {
    &.crest {
      width: 100%;
      margin-bottom: 5px;
    }
    &#chrome {
      width: 4%;
    }
  }
  .container {
    padding: 0;
  }
  .btn {
    padding: 0;
    width: 100px;
  }
  .form-control {
    display: inline-block;
    margin: 50px;
    width: 90%;
    text-align: center;
  }
  input#exampleInputPassword3 {
    width: 90%;
  }
  .form-control input {
    width: 100%;
  }
  div#destButtons {
    max-width: 90%;
  }
  .btn-group.btn-group-lg.center {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  button.btn.btn-warning {
    width: 90%;
  }
  .btn-group .btn {
    &:first-child:not(:last-child):not(.dropdown-toggle),
    &:last-child:not(:first-child) {
      border-radius: 0;
    }
  }
  button.btn.btn-info {
    &:nth-of-type(9) {
      width: 32%;
      text-align: center;
      padding: 0;
    }
  }
  #footer p.center {
    width: 100%;
  }
  img.socialBadges {
    width: 75px / 100% * 100%; // 55px
    margin: 1%; // 5px
    display: inline-block;
  }
  img.journeyKitDownload {
    width: 90%; // 365px;
    display: inline-block;
  }

@media only screen
  and (max-width: 900px) {
    .navbar, .navbar-toggle {
      margin: 10px;
      padding: 27.5px !important;
      width: 10%;
    }

    .icon-bar {
      margin-top: 10px;
      position: relative;
      top: -25px;
      left: -15px;
      height: 3px;
      width: 30px;

      & + .icon-bar {
        margin-top: 10px;
      }
    }

    #tcpp { // .wordmark
      height: 50px / 100% * 100%; // 50px;
      position: relative;
      top: 10px / 100% * 100%; // 10px;
      left: 15px / 100% * 100%; // 15px;
      bottom: 10px / 100% * 100%; // 15px;
      width: 100%;
      img {
        height: inherit;
        width: 50%;
      }
    }

    #signinModal,
    #signupModal {
      input {
        font-size: 1.25em;
        height: 50px;
        letter-spacing: 0.25px;
        margin: 2.5% 0;
        width: 100%;

        &[type="submit"] {
          height: 50px;
          margin: 0;
        }
      }
    }

    .gender-choice {
      label {
        margin-right: 35px !important;
        margin-left: 10px !important;
        vertical-align: bottom !important;
      }

      input {
        height: inherit !important;
        width: inherit !important;
      }
    }

    input[type="file"] {
      height: inherit !important;
      margin: 0 !important;
    }

    .crest {
      margin-bottom: 15px;
    }

    #destSearchBtn {
      padding: 15px 0 !important;
      width: 70% !important;
    }

    .copyright {
      margin-bottom: 15%;
    }
  }
}
