/**
 * These styles are applied to every page
 */
body {
  background: #9dddf9 url("/assets/images/Laces.png") repeat left top;
  background-attachment: fixed; }

.master .container {
  width: 80%; }
  .master .container * {
    box-shadow: none; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

p.lead.center {
  width: 78%; }

.tooltip {
  font-weight: 500; }

img.crest {
  width: 30%;
  display: block;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto; }

img#chrome {
  width: 2%; }

.nav a {
  cursor: pointer; }

.aboutModalButton {
  margin-top: 8px;
  background-color: #3a2417;
  color: white; }
  .aboutModalButton a {
    color: white; }
    .aboutModalButton a:hover {
      color: #ee6730; }

.navbar {
  font-weight: 700;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

li #likesHeart {
  color: #ffc233 !important;
  font-size: 1.5em;
  padding: 6px; }

i#likesHeart.fa.fa-heart {
  vertical-align: -.13em; }

.wordmark {
  display: inline-block;
  height: inherit;
  margin: 5px 10px;
  position: relative;
  top: 7.5px;
  width: 350px; }
  .wordmark img {
    width: 100%; }

.dropdown-menu {
  border: none; }
  .dropdown-menu li a {
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 10px; }
    .dropdown-menu li a:hover {
      background-color: #ee6730;
      width: 100%;
      height: 40px;
      padding: 10px;
      color: white; }

li #facebook-signup a {
  text-align: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: #2268aa; }
  li #facebook-signup a:hover {
    background-color: #2268aa;
    color: white; }

div#destButtons {
  max-width: 90%; }
  div#destButtons a {
    display: block;
    padding: 0;
    color: #9dddf9;
    font-size: .75em; }
    div#destButtons a:hover {
      color: white; }

.prob {
  text-align: center; }

#signinModal input {
  text-align: center; }
  #signinModal input[type="submit"] {
    font-size: 1.25em; }

#signupModal .gender-choice {
  margin: 15px 0; }
  #signupModal .gender-choice label {
    margin-right: 17.5px;
    margin-left: 5px; }
  #signupModal .gender-choice input {
    vertical-align: top; }

#signupModal input[type="file"] {
  line-height: 0; }

#profileModal .left,
#profileModal .right {
  float: left;
  padding: 5px;
  width: 50%; }

#profileModal .pp_pic img {
  border: 5px solid #E8C874;
  border-radius: 100%;
  margin: 5% 15%;
  width: 75%; }

#profileModal .modal-footer {
  clear: both; }

.btn-group .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-group .btn:last-child:not(:first-child) {
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.btn-group button {
  margin: 2px 5px; }

label {
  cursor: pointer; }

.modal {
  overflow: auto; }

.pp_title,
.jd_title,
.a_title {
  font-weight: 300;
  font-size: 2.5em;
  text-align: left;
  line-height: 1.125em;
  color: #ee6730; }

.close {
  float: right;
  font-size: 22.5px;
  font-weight: 700;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: .2;
  filter: alpha(opacity=20);
  font-size: 2.5em;
  opacity: 1;
  padding: 3.5% !important;
  margin-top: 0 !important; }
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50); }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #9dddf9; }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop.in {
    opacity: .875;
    filter: alpha(opacity=50); }

.modal-header {
  padding: 0 15px;
  text-indent: 5px; }
  .modal-header h4 {
    line-height: 225%;
    width: 75%; }

#destModal .modal-header {
  padding: 15px;
  text-indent: 20px; }
  #destModal .modal-header .jd_title {
    line-height: normal; }
  #destModal .modal-header .close {
    padding: 0 15px !important; }

#destModal .modal-body {
  padding: 35px; }
  #destModal .modal-body .jp_divider:last-of-type {
    display: none; }

#destModal img {
  margin: 5%;
  width: 90%; }

#footer {
  background-color: #3a2417;
  color: #53b7e8;
  font-size: .8125em;
  height: inherit !important;
  margin-top: 20px;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 0 !important;
  width: 100%; }
  #footer a {
    color: #2291c8;
    text-decoration: none; }
    #footer a:hover {
      color: #2291c8; }

#tcDownloads {
  text-align: center; }
  #tcDownloads a {
    display: inline-block;
    width: 100%; }

img.journeyKitDownload {
  width: 25%;
  display: inline-block; }

div#socialBadges {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px; }

img.socialBadges {
  width: 55px;
  margin: .375%;
  display: inline-block; }

/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }
  .hvr-icon-spin:before {
    content: "\f067";
    font-family: FontAwesome;
    transition-duration: 1s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-timing-function: ease-in-out; }
  .hvr-icon-spin:hover:before, .hvr-icon-spin:focus:before, .hvr-icon-spin:active:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: .3s;
  transition-property: -webkit-transform;
  transition-property: transform; }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); }

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: .3s;
  transition-property: -webkit-transform;
  transition-property: transform; }
  .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.15) rotate(4deg);
    transform: scale(1.15) rotate(4deg); }

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: .5s; }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float,hvr-bob;
    animation-name: hvr-bob-float,hvr-bob;
    -webkit-animation-duration: .3s,1.5s;
    animation-duration: .3s,1.5s;
    -webkit-animation-delay: 0s,.3s;
    animation-delay: 0s,.3s;
    -webkit-animation-timing-function: ease-out,ease-in-out;
    animation-timing-function: ease-out,ease-in-out;
    -webkit-animation-iteration-count: 1,infinite;
    animation-iteration-count: 1,infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal,alternate;
    animation-direction: normal,alternate; }

@media only screen and (max-width: 700px) {
  span.glyphicon.glyphicon-plus {
    margin-bottom: 5px;
    margin-left: 15px; }
  button.journeyModalButton {
    min-height: 75px;
    width: 75px !important;
    border-radius: 50px;
    font-size: 3em; }
  div.center.welcome {
    width: 300px; }
    div.center.welcome p {
      width: 105%;
      font-size: 1.5em; }
  img.crest {
    width: 100%;
    margin-bottom: 5px; }
  img#chrome {
    width: 4%; }
  .container {
    padding: 0; }
  .btn {
    padding: 0;
    width: 100px; }
  .form-control {
    display: inline-block;
    margin: 50px;
    width: 90%;
    text-align: center; }
  input#exampleInputPassword3 {
    width: 90%; }
  .form-control input {
    width: 100%; }
  div#destButtons {
    max-width: 90%; }
  .btn-group.btn-group-lg.center {
    width: 100%;
    margin: 0;
    padding: 0; }
  button.btn.btn-warning {
    width: 90%; }
  .btn-group .btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group .btn:last-child:not(:first-child) {
    border-radius: 0; }
  button.btn.btn-info:nth-of-type(9) {
    width: 32%;
    text-align: center;
    padding: 0; }
  #footer p.center {
    width: 100%; }
  img.socialBadges {
    width: 75px;
    margin: 1%;
    display: inline-block; }
  img.journeyKitDownload {
    width: 90%;
    display: inline-block; } }

@media only screen and (max-width: 700px) and (max-width: 900px) {
  .navbar, .navbar-toggle {
    margin: 10px;
    padding: 27.5px !important;
    width: 10%; }
  .icon-bar {
    margin-top: 10px;
    position: relative;
    top: -25px;
    left: -15px;
    height: 3px;
    width: 30px; }
    .icon-bar + .icon-bar {
      margin-top: 10px; }
  #tcpp {
    height: 50px;
    position: relative;
    top: 10px;
    left: 15px;
    bottom: 10px;
    width: 100%; }
    #tcpp img {
      height: inherit;
      width: 50%; }
  #signinModal input,
  #signupModal input {
    font-size: 1.25em;
    height: 50px;
    letter-spacing: 0.25px;
    margin: 2.5% 0;
    width: 100%; }
    #signinModal input[type="submit"],
    #signupModal input[type="submit"] {
      height: 50px;
      margin: 0; }
  .gender-choice label {
    margin-right: 35px !important;
    margin-left: 10px !important;
    vertical-align: bottom !important; }
  .gender-choice input {
    height: inherit !important;
    width: inherit !important; }
  input[type="file"] {
    height: inherit !important;
    margin: 0 !important; }
  .crest {
    margin-bottom: 15px; }
  #destSearchBtn {
    padding: 15px 0 !important;
    width: 70% !important; }
  .copyright {
    margin-bottom: 15%; } }

/**
 * These styles are applied to the '/journeys'
 * and any pages beyond '/journeys' (e.g.
 '/journeys/create')**
 */
/**
 * These styles are applied to every page
 */
body {
  background: #9dddf9 url("/assets/images/Laces.png") repeat left top;
  background-attachment: fixed; }

.master .container {
  width: 80%; }
  .master .container * {
    box-shadow: none; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

p.lead.center {
  width: 78%; }

.tooltip {
  font-weight: 500; }

img.crest {
  width: 30%;
  display: block;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto; }

img#chrome {
  width: 2%; }

.nav a {
  cursor: pointer; }

.aboutModalButton {
  margin-top: 8px;
  background-color: #3a2417;
  color: white; }
  .aboutModalButton a {
    color: white; }
    .aboutModalButton a:hover {
      color: #ee6730; }

.navbar {
  font-weight: 700;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

li #likesHeart {
  color: #ffc233 !important;
  font-size: 1.5em;
  padding: 6px; }

i#likesHeart.fa.fa-heart {
  vertical-align: -.13em; }

.wordmark {
  display: inline-block;
  height: inherit;
  margin: 5px 10px;
  position: relative;
  top: 7.5px;
  width: 350px; }
  .wordmark img {
    width: 100%; }

.dropdown-menu {
  border: none; }
  .dropdown-menu li a {
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 10px; }
    .dropdown-menu li a:hover {
      background-color: #ee6730;
      width: 100%;
      height: 40px;
      padding: 10px;
      color: white; }

li #facebook-signup a {
  text-align: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: #2268aa; }
  li #facebook-signup a:hover {
    background-color: #2268aa;
    color: white; }

div#destButtons {
  max-width: 90%; }
  div#destButtons a {
    display: block;
    padding: 0;
    color: #9dddf9;
    font-size: .75em; }
    div#destButtons a:hover {
      color: white; }

.prob {
  text-align: center; }

#signinModal input {
  text-align: center; }
  #signinModal input[type="submit"] {
    font-size: 1.25em; }

#signupModal .gender-choice {
  margin: 15px 0; }
  #signupModal .gender-choice label {
    margin-right: 17.5px;
    margin-left: 5px; }
  #signupModal .gender-choice input {
    vertical-align: top; }

#signupModal input[type="file"] {
  line-height: 0; }

#profileModal .left,
#profileModal .right {
  float: left;
  padding: 5px;
  width: 50%; }

#profileModal .pp_pic img {
  border: 5px solid #E8C874;
  border-radius: 100%;
  margin: 5% 15%;
  width: 75%; }

#profileModal .modal-footer {
  clear: both; }

.btn-group .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-group .btn:last-child:not(:first-child) {
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.btn-group button {
  margin: 2px 5px; }

label {
  cursor: pointer; }

.modal {
  overflow: auto; }

.pp_title,
.jd_title,
.a_title {
  font-weight: 300;
  font-size: 2.5em;
  text-align: left;
  line-height: 1.125em;
  color: #ee6730; }

.close {
  float: right;
  font-size: 22.5px;
  font-weight: 700;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: .2;
  filter: alpha(opacity=20);
  font-size: 2.5em;
  opacity: 1;
  padding: 3.5% !important;
  margin-top: 0 !important; }
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50); }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #9dddf9; }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop.in {
    opacity: .875;
    filter: alpha(opacity=50); }

.modal-header {
  padding: 0 15px;
  text-indent: 5px; }
  .modal-header h4 {
    line-height: 225%;
    width: 75%; }

#destModal .modal-header {
  padding: 15px;
  text-indent: 20px; }
  #destModal .modal-header .jd_title {
    line-height: normal; }
  #destModal .modal-header .close {
    padding: 0 15px !important; }

#destModal .modal-body {
  padding: 35px; }
  #destModal .modal-body .jp_divider:last-of-type {
    display: none; }

#destModal img {
  margin: 5%;
  width: 90%; }

#footer {
  background-color: #3a2417;
  color: #53b7e8;
  font-size: .8125em;
  height: inherit !important;
  margin-top: 20px;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 0 !important;
  width: 100%; }
  #footer a {
    color: #2291c8;
    text-decoration: none; }
    #footer a:hover {
      color: #2291c8; }

#tcDownloads {
  text-align: center; }
  #tcDownloads a {
    display: inline-block;
    width: 100%; }

img.journeyKitDownload {
  width: 25%;
  display: inline-block; }

div#socialBadges {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px; }

img.socialBadges {
  width: 55px;
  margin: .375%;
  display: inline-block; }

/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }
  .hvr-icon-spin:before {
    content: "\f067";
    font-family: FontAwesome;
    transition-duration: 1s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-timing-function: ease-in-out; }
  .hvr-icon-spin:hover:before, .hvr-icon-spin:focus:before, .hvr-icon-spin:active:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: .3s;
  transition-property: -webkit-transform;
  transition-property: transform; }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); }

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: .3s;
  transition-property: -webkit-transform;
  transition-property: transform; }
  .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.15) rotate(4deg);
    transform: scale(1.15) rotate(4deg); }

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: .5s; }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float,hvr-bob;
    animation-name: hvr-bob-float,hvr-bob;
    -webkit-animation-duration: .3s,1.5s;
    animation-duration: .3s,1.5s;
    -webkit-animation-delay: 0s,.3s;
    animation-delay: 0s,.3s;
    -webkit-animation-timing-function: ease-out,ease-in-out;
    animation-timing-function: ease-out,ease-in-out;
    -webkit-animation-iteration-count: 1,infinite;
    animation-iteration-count: 1,infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal,alternate;
    animation-direction: normal,alternate; }

@media only screen and (max-width: 700px) {
  span.glyphicon.glyphicon-plus {
    margin-bottom: 5px;
    margin-left: 15px; }
  button.journeyModalButton {
    min-height: 75px;
    width: 75px !important;
    border-radius: 50px;
    font-size: 3em; }
  div.center.welcome {
    width: 300px; }
    div.center.welcome p {
      width: 105%;
      font-size: 1.5em; }
  img.crest {
    width: 100%;
    margin-bottom: 5px; }
  img#chrome {
    width: 4%; }
  .container {
    padding: 0; }
  .btn {
    padding: 0;
    width: 100px; }
  .form-control {
    display: inline-block;
    margin: 50px;
    width: 90%;
    text-align: center; }
  input#exampleInputPassword3 {
    width: 90%; }
  .form-control input {
    width: 100%; }
  div#destButtons {
    max-width: 90%; }
  .btn-group.btn-group-lg.center {
    width: 100%;
    margin: 0;
    padding: 0; }
  button.btn.btn-warning {
    width: 90%; }
  .btn-group .btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group .btn:last-child:not(:first-child) {
    border-radius: 0; }
  button.btn.btn-info:nth-of-type(9) {
    width: 32%;
    text-align: center;
    padding: 0; }
  #footer p.center {
    width: 100%; }
  img.socialBadges {
    width: 75px;
    margin: 1%;
    display: inline-block; }
  img.journeyKitDownload {
    width: 90%;
    display: inline-block; } }

@media only screen and (max-width: 700px) and (max-width: 900px) {
  .navbar, .navbar-toggle {
    margin: 10px;
    padding: 27.5px !important;
    width: 10%; }
  .icon-bar {
    margin-top: 10px;
    position: relative;
    top: -25px;
    left: -15px;
    height: 3px;
    width: 30px; }
    .icon-bar + .icon-bar {
      margin-top: 10px; }
  #tcpp {
    height: 50px;
    position: relative;
    top: 10px;
    left: 15px;
    bottom: 10px;
    width: 100%; }
    #tcpp img {
      height: inherit;
      width: 50%; }
  #signinModal input,
  #signupModal input {
    font-size: 1.25em;
    height: 50px;
    letter-spacing: 0.25px;
    margin: 2.5% 0;
    width: 100%; }
    #signinModal input[type="submit"],
    #signupModal input[type="submit"] {
      height: 50px;
      margin: 0; }
  .gender-choice label {
    margin-right: 35px !important;
    margin-left: 10px !important;
    vertical-align: bottom !important; }
  .gender-choice input {
    height: inherit !important;
    width: inherit !important; }
  input[type="file"] {
    height: inherit !important;
    margin: 0 !important; }
  .crest {
    margin-bottom: 15px; }
  #destSearchBtn {
    padding: 15px 0 !important;
    width: 70% !important; }
  .copyright {
    margin-bottom: 15%; } }

.traveling-title {
  margin-right: 5px; }

.form-control:focus {
  border-color: #f69568;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 182, 32, 0.6); }
  .form-control:focus#exampleInputPassword3 {
    border-color: #85d5f8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(133, 213, 248, 0.6); }

select.form-control:focus {
  border-color: #85d5f8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(133, 213, 248, 0.6); }

div.modal-header .journeyPostTitle input[placeholder] {
  color: #ee6730; }

form.journey-form input[type="text"] {
  width: 535px !important; }

#journeyModal .close {
  height: 65px;
  letter-spacing: 0.5px;
  line-height: 75%; }
  #journeyModal .close span {
    display: inline-block;
    height: 35px; }

#journeyModal .modal-header h4 {
  float: left;
  letter-spacing: 0.35px;
  width: 30%; }

#journeyModal .modal-header input {
  background: none;
  border: none;
  float: left;
  line-height: 435%;
  text-indent: 25px;
  width: 55%; }

#journeyModal .modal-body,
#journeyModal .modal-footer {
  padding: 0 2.5%; }
  #journeyModal .modal-body label,
  #journeyModal .modal-footer label {
    color: #444;
    font-weight: 500;
    margin-top: 3.5%;
    margin-left: 5%; }
  #journeyModal .modal-body input,
  #journeyModal .modal-footer input {
    background-color: white;
    padding: 0; }
    #journeyModal .modal-body input:first-of-type,
    #journeyModal .modal-footer input:first-of-type {
      margin-top: 0; }
    #journeyModal .modal-body input[type="file"],
    #journeyModal .modal-footer input[type="file"] {
      background-color: transparent;
      line-height: 100%;
      margin-left: 2.5%;
      margin-bottom: 5%;
      text-indent: 0; }
    #journeyModal .modal-body input[type="submit"],
    #journeyModal .modal-footer input[type="submit"] {
      background-color: transparent;
      font-size: 1.15em;
      margin: 5% 2.5%;
      outline: none;
      padding: 1% 2.5%;
      text-indent: 0;
      transition: all 175ms; }
      #journeyModal .modal-body input[type="submit"]:hover, #journeyModal .modal-body input[type="submit"]:focus,
      #journeyModal .modal-footer input[type="submit"]:hover,
      #journeyModal .modal-footer input[type="submit"]:focus {
        background-color: #ee6730;
        color: white; }
      #journeyModal .modal-body input[type="submit"]:active,
      #journeyModal .modal-footer input[type="submit"]:active {
        background-color: #773418;
        color: grey; }
  #journeyModal .modal-body textarea,
  #journeyModal .modal-footer textarea {
    padding-top: 15px; }

#journeyModal input {
  color: #ee6730; }

#journeyModal textarea {
  resize: vertical; }

#journeyModal input, #journeyModal textarea {
  text-indent: 15px; }

#journeyModal ::-webkit-input-placeholder {
  color: #ee6730; }

#journeyModal :-moz-placeholder {
  color: #ee6730; }

#journeyModal ::-moz-placeholder {
  color: #ee6730; }

#journeyModal :-ms-input-placeholder {
  color: #ee6730; }

.journeyCreateButton {
  border-radius: 100%;
  height: 75px;
  margin: auto;
  padding: 0;
  width: 75px; }

.journeyEditButton,
.journeyDeleteButton {
  height: 35px;
  margin: 0; }

.journeyModalButton {
  border-radius: 100%;
  font-size: 3em;
  height: 75px;
  vertical-align: middle !important;
  width: 75px; }
  .journeyModalButton span {
    display: block;
    padding-top: 5px; }

.x {
  float: right;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  z-index: 8000;
  font-size: 1.5em;
  padding-right: 10px;
  margin-top: 3.5%;
  padding: 5% 7.5%; }

.journeyPost {
  text-align: left;
  display: block;
  top: 1px;
  left: 20px;
  float: left;
  width: 330px;
  min-height: 240px;
  margin: 25px;
  background-color: #fedf8d;
  border-radius: 4px;
  margin: 2.6595744681%;
  width: 28.0141843968%; }
  .journeyPost img {
    width: 100% !important; }
  .journeyPost:target {
    box-shadow: 0px 0px 25px 10px white; }

.jpPadding {
  padding: 15px; }

.jp_wrapper {
  display: inline-block;
  position: relative;
  top: 1px;
  left: 0;
  display: block;
  width: 100%; }

.jp_title {
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.125em;
  color: #ee6730;
  margin: 0;
  line-height: 135%; }

.jp_img {
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.25); }
  .jp_img img {
    width: 330px; }

.jp_fname_date {
  font-size: .75em; }
  .jp_fname_date a {
    color: #3a2417;
    border-bottom: thin dotted #3a2417; }

.htags {
  font-size: .875em;
  font-weight: 550;
  color: #ee6730;
  font-style: italic; }

div.fa_JourneyPost {
  cursor: pointer;
  text-align: right; }
  div.fa_JourneyPost li a {
    font-weight: normal; }
    div.fa_JourneyPost li a:hover {
      color: #ee6730;
      background: none; }
  div.fa_JourneyPost li:last-of-type {
    padding-bottom: 15px; }
  div.fa_JourneyPost i.fa {
    color: #ffc233;
    font-size: 1.5em;
    text-align: right;
    padding: 6px; }
    div.fa_JourneyPost i.fa:hover {
      color: #ee6730; }
    div.fa_JourneyPost i.fa.liked {
      color: #e64040; }
    div.fa_JourneyPost i.fa:active {
      color: #903612; }
    div.fa_JourneyPost i.fa.fa-close {
      font-size: 1.875em; }

.dropup {
  padding-top: 18px; }

.jp_dropup {
  display: inline; }

div.dropup ul.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.9375);
  padding: 8px; }

ul.dropdown-menu a {
  text-align: left; }

.jp_divider {
  border-color: #fbd163;
  margin-bottom: 5px; }

/* Media Queries */
@media only screen and (max-width: 900px) {
  .container,
  .jp_wrapper {
    width: 100%; }
  .jp_wrapper {
    margin-top: 5%; }
  .journeyPost {
    width: 44.6808510638%; }
  .crest {
    padding-top: 35px;
    width: 35% !important; } }

@media only screen and (max-width: 500px) {
  .journeyPost {
    width: 95%; }
    .journeyPost .journeyEditButton,
    .journeyPost .journeyDeleteButton {
      height: 45px !important;
      padding: 10px !important; } }

/*# sourceMappingURL=Journeys.css.map */
