/**
 * These styles are applied to every page
 */
body {
  background: #9dddf9 url("/assets/images/Laces.png") repeat left top;
  background-attachment: fixed; }

.master .container {
  width: 80%; }
  .master .container * {
    box-shadow: none; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

p.lead.center {
  width: 78%; }

.tooltip {
  font-weight: 500; }

img.crest {
  width: 30%;
  display: block;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto; }

.pancake-button {
  background-color: transparent;
  display: none; }

.navbar {
  font-weight: 700;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  line-height: 100%;
  margin: 0; }
  .navbar .navbar-header {
    height: 80px !important;
    margin: 0 !important; }

.nav a {
  cursor: pointer; }

.wordmark {
  display: inline-block;
  max-height: 50px !important;
  margin: 5px 10px;
  position: absolute;
  width: 350px; }
  .wordmark img {
    position: absolute !important;
    top: 30% !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100%; }

.aboutModalButton {
  margin-top: 8px;
  background-color: #3a2417;
  color: white; }
  .aboutModalButton a {
    color: white; }
    .aboutModalButton a:hover {
      color: #ee6730; }

.dropdown-menu {
  border: none; }
  .dropdown-menu li a {
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 10px; }
    .dropdown-menu li a:hover {
      background-color: #ee6730;
      width: 100%;
      height: 40px;
      padding: 10px;
      color: white; }

li #likesHeart {
  color: #ffc233 !important;
  font-size: 1.5em;
  padding: 6px; }

i#likesHeart.fa.fa-heart {
  vertical-align: -.13em; }

li #facebook-signup a {
  text-align: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: #2268aa; }
  li #facebook-signup a:hover {
    background-color: #2268aa;
    color: white; }

#destButtons {
  max-width: 90%; }
  #destButtons a {
    display: block;
    padding: 0;
    color: #9dddf9;
    font-size: .75em; }
    #destButtons a:hover {
      color: white; }

.prob {
  text-align: center; }

.btn-group .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-group .btn:last-child:not(:first-child) {
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.btn-group button {
  margin: 2px 5px; }

label {
  cursor: pointer; }

.modal {
  overflow: auto; }

.modal-header {
  padding: 0 15px;
  text-indent: 5px; }
  .modal-header h4 {
    line-height: 225%;
    width: 75%; }

.modal-body {
  padding: 35px; }
  .modal-body .jp_divider:last-of-type {
    display: none; }

.modal-footer {
  clear: both; }

.close {
  float: right;
  font-size: 22.5px;
  font-weight: 700;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: .2;
  filter: alpha(opacity=20);
  font-size: 2.5em;
  opacity: 1;
  padding: 3.5% !important;
  margin-top: 0 !important; }
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50); }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #9dddf9; }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop.in {
    opacity: .875;
    filter: alpha(opacity=50); }

#signinModal input {
  text-align: center; }
  #signinModal input[type="submit"] {
    font-size: 1.25em; }

#signupModal .gender-choice {
  margin: 15px 0; }
  #signupModal .gender-choice label {
    margin-right: 17.5px;
    margin-left: 5px; }
  #signupModal .gender-choice input {
    vertical-align: top; }

#signupModal input[type="file"] {
  line-height: 0; }

#profileModal .left,
#profileModal .right {
  float: left;
  padding: 5px;
  width: 50%; }

.pp_pic img {
  border: 5px solid #E8C874;
  border-radius: 100%;
  margin: 5% 15%;
  width: 75%; }

#destModal .modal-header {
  padding: 15px;
  text-indent: 20px; }
  #destModal .modal-header .jd_title {
    line-height: normal; }
  #destModal .modal-header .close {
    padding: 0 15px !important; }

#footer {
  background-color: #3a2417;
  color: #53b7e8;
  font-size: .8125em;
  height: inherit !important;
  margin-top: 20px;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 0 !important;
  width: 100%; }
  #footer a {
    color: #2291c8;
    text-decoration: none; }
    #footer a:hover {
      color: #2291c8; }

.journeyKitDownload {
  width: 25%;
  display: inline-block; }

.socialBadges {
  width: 55px;
  margin: .375%;
  display: inline-block; }

#chrome {
  width: 2%; }

#tcDownloads {
  text-align: center; }
  #tcDownloads a {
    display: inline-block;
    width: 100%; }

#socialBadges {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px; }

/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }
  .hvr-icon-spin:before {
    content: "\f067";
    font-family: FontAwesome;
    transition-duration: 1s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-timing-function: ease-in-out; }
  .hvr-icon-spin:hover:before, .hvr-icon-spin:focus:before, .hvr-icon-spin:active:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: .3s;
  transition-property: -webkit-transform;
  transition-property: transform; }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); }

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: .3s;
  transition-property: -webkit-transform;
  transition-property: transform; }
  .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.15) rotate(4deg);
    transform: scale(1.15) rotate(4deg); }

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: .5s; }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float,hvr-bob;
    animation-name: hvr-bob-float,hvr-bob;
    -webkit-animation-duration: .3s,1.5s;
    animation-duration: .3s,1.5s;
    -webkit-animation-delay: 0s,.3s;
    animation-delay: 0s,.3s;
    -webkit-animation-timing-function: ease-out,ease-in-out;
    animation-timing-function: ease-out,ease-in-out;
    -webkit-animation-iteration-count: 1,infinite;
    animation-iteration-count: 1,infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal,alternate;
    animation-direction: normal,alternate; }

@media only screen and (max-width: 900px) {
  .navbar {
    padding: 1em !important;
    margin: 0px !important;
    width: 100% !important; }
  .tcpp {
    width: 60% !important;
    margin-top: 0 !important; }
  .icon-bar {
    margin-top: 10px;
    position: relative;
    top: -25px;
    left: -15px;
    height: 3px;
    width: 30px; }
    .icon-bar + .icon-bar {
      margin-top: 10px; }
  .crest {
    width: 55%;
    margin-top: 15px;
    margin-bottom: 5px; }
  #chrome {
    width: 4%; }
  #signinModal input,
  #signupModal input {
    font-size: 1.25em;
    height: 50px;
    letter-spacing: 0.25px;
    margin: 2.5% 0;
    width: 100%; }
    #signinModal input[type="submit"],
    #signupModal input[type="submit"] {
      height: 50px;
      margin: 0; }
  .gender-choice label {
    margin-right: 35px !important;
    margin-left: 10px !important;
    vertical-align: bottom !important; }
  .gender-choice input {
    height: inherit !important;
    width: inherit !important; }
  input[type="file"] {
    height: inherit !important;
    margin: 0 !important; }
  #destSearchBtn {
    padding: 15px 0 !important;
    width: 70% !important; }
  .copyright {
    margin-bottom: 15%; } }

@media only screen and (max-width: 500px) {
  .container-fluid {
    padding-left: 8px;
    padding-right: 5px;
    min-height: 80px; }
  .pancake-button {
    border: none;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 55px;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 22.5% !important;
    right: 2.5% !important;
    bottom: 0 !important;
    float: right;
    transition: background 0.3s;
    width: 60px;
    z-index: 1; }
    .pancake-button .pancakes {
      background-color: #fff;
      display: block;
      height: 3px;
      position: absolute;
      top: 7.5px;
      right: 0;
      left: 0;
      transition: background 300ms;
      width: 80%; }
      .pancake-button .pancakes::before, .pancake-button .pancakes::after {
        background-color: #fff;
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        transition-duration: 300ms;
        width: 100%; }
      .pancake-button .pancakes::before {
        top: -17.5px; }
      .pancake-button .pancakes::after {
        bottom: -17.5px; }
    .pancake-button #pancakes {
      background-color: #fff;
      display: block;
      height: 3px;
      margin: 20.5% 0; }
    .pancake-button:hover #pancakes {
      background-color: #ee6730; }
      .pancake-button:hover #pancakes::before, .pancake-button:hover #pancakes::after {
        background-color: #ee6730; }
    .pancake-button:active #pancakes {
      background-color: #fedf8d; }
      .pancake-button:active #pancakes::before, .pancake-button:active #pancakes::after {
        background-color: #fedf8d; }
    .pancake-button.active:hover #pancakes, .pancake-button.active:active #pancakes {
      background-color: transparent; }
    .pancake-button.active #pancakes {
      background-color: transparent;
      transition-delay: 0s, 0.3s; }
      .pancake-button.active #pancakes::before {
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .pancake-button.active #pancakes::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .nav {
    min-height: 90px; }
  .navbar {
    border-radius: 0;
    width: 100% !important;
    padding: .5em !important;
    min-height: 90px; }
  button.navbar-toggle {
    max-height: 75% !important;
    max-width: 75% !important;
    margin: 0 !important;
    margin-bottom: 15px !important; }
  .icon-bar {
    margin-top: 5px !important;
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    height: 2px !important;
    width: 25px !important; }
  .wordmark {
    min-height: 70px;
    max-width: 240px;
    vertical-align: middle; }
  span.glyphicon.glyphicon-plus {
    margin-bottom: 5px;
    margin-left: 15px; }
  button.journeyModalButton {
    min-height: 75px;
    width: 75px !important;
    border-radius: 50px;
    font-size: 3em; }
  div.center.welcome {
    min-width: 300px; }
    div.center.welcome p {
      width: 105%;
      font-size: 1.5em; }
  img.crest {
    width: 100% !important;
    margin-top: 10px;
    margin-bottom: 10px; }
  img#chrome {
    width: 4%; }
  img.tcpp {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: relative;
    width: 95% !important;
    margin: 0;
    vertical-align: middle !important; }
  .container {
    padding: 0; }
  .btn {
    padding: 0;
    width: 100px; }
  .form-control {
    display: inline-block;
    margin: 50px;
    width: 90%;
    text-align: center; }
  .form-control input {
    width: 100%; }
  #destButtons {
    max-width: 90%; }
  .btn-group.btn-group-lg.center {
    width: 100%;
    margin: 0;
    padding: 0; }
  button.btn.btn-warning {
    width: 90%; }
  .btn-group .btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group .btn:last-child:not(:first-child) {
    border-radius: 0; }
  button.btn.btn-info:nth-of-type(9) {
    width: 32%;
    text-align: center;
    padding: 0; }
  #footer p.center {
    width: 100%; }
  img.socialBadges {
    width: 15%;
    height: 15%;
    margin: 1%;
    display: inline-block; }
  img.journeyKitDownload {
    width: 90%;
    display: inline-block; } }

/*# sourceMappingURL=Main.css.map */
